@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Playfair+Display&display=swap');

body {
    background: linear-gradient(to right, blue, red);
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
}

.box-title {
    border: 2px solid greenyellow;

    .title {
        --font: "Open Sans";
        font-family: var(--font);

        &:hover {
            color: red;
        }
    }
}

.container-form {
    --font: "Open Sans";
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, 1fr);
    place-content: center;
    font-family: var(--font);
    font-size: 1.2rem;
    justify-items: center;
}

.div-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}