@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Playfair+Display&display=swap');

body{
    background: linear-gradient(to right, blue, red);
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}