@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Playfair+Display&display=swap');

body {
    background: linear-gradient(to right, blue, red);
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.box-title {
    box-shadow: 0px 0px 20px 10px white;

    .title {
        --font: "Open Sans";
        font-family: var(--font);
        font-size: 2.5rem;
    }
}

.container-form {
    --font: "Open Sans";
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, 1fr);
    font-family: var(--font);
    font-size: 1.2rem;
    border: 5px solid rgb(223, 204, 204);
    border-radius: 8%;
    justify-items: center;
    align-items: center;
}

.div-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .button{
        width: 100px;
        height: 40px;
        border-radius: 15%;
    }
}