@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Playfair+Display&display=swap');

body {
    background: linear-gradient(to right, rgb(144, 144, 252), rgb(255, 153, 153));
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: rgb(155, 142, 142);
    box-sizing: border-box;
}

.box-title {
    filter: drop-shadow(0px 0px 5px rgb(255, 197, 197));
    
    .title {
        --font: "Open Sans";
        font-family: var(--font);
        font-size: 3rem;
    }
}

.container-form {
    --font: "Open Sans";
    display: grid;
    width: 450px;
    height: 450px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, 1fr);
    font-family: var(--font);
    font-size: 1.2rem;
    border: 5px solid rgb(223, 204, 204);
    border-radius: 8%;
    justify-items: center;
    align-items: center;
    text-align: center;

    legend{
        text-align: initial;
        font-size: 30px;
        filter: drop-shadow(0px 0px 5px rgb(255, 197, 197));
    }

    label{
        text-align: unset;
        font-size: 20px;
        filter: drop-shadow(0px 0px 5px rgb(255, 197, 197));

        input{
            background: whitesmoke;
            width: 250px;
            height: 30px;
            border-radius: 10px;
        }
    }
}

.div-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .button{
        width: 100px;
        height: 40px;
        border-radius: 15%;
    }
}